form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

input {
  height: 1.5rem;
}

.ShowEditForm__input {
  border: 1px solid rgb(118, 118, 118);
  border-radius: 5px;
}

.ShowEditForm__required::after {
  content: " *";
  color: red;
}
